### Gradle ###
**/.gradle
**/gradle-app.setting
**/!gradle-wrapper.jar
**/.gradletasknamecache
**/build/

### Eclipse ###
**/.metadata
**/bin/
**/tmp/
**/*.tmp
**/*.bak
**/*.swp
**/*~.nib
**/local.properties
**/.settings/
**/.loadpath
**/.recommenders
**/.externalToolBuilders/
**/*.launch
**/*.pydevproject
**/.cproject
**/.autotools
**/.factorypath
**/.buildpath
**/.target
**/.tern-project
**/.texlipse
**/.springBeans
**/.recommenders/
**/.apt_generated/
**/.cache-main
**/.scala_dependencies
**/.worksheet
**/.project
**/.classpath
**/.apt_generated
**/.sts4-cache/

### Intellij ###
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf
**/.idea/**/contentModel.xml
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml
**/.idea/**/dbnavigator.xml
**/.idea/**/gradle.xml
**/.idea/**/libraries
**/cmake-build-*/
**/.idea/**/mongoSettings.xml
**/*.iws
**/out/
**/.idea_modules/
**/atlassian-ide-plugin.xml
**/.idea/replstate.xml
**/com_crashlytics_export_strings.xml
**/crashlytics.properties
**/crashlytics-build.properties
**/fabric.properties
**/.idea/httpRequests
**/.idea/caches/build_file_checksums.ser
**/.idea/**/sonarlint/
**/.idea/**/sonarIssues.xml
**/.idea/**/markdown-navigator.xml
**/.idea/**/markdown-navigator/
